{% extends "todolist/base.html" %}
{% block content %}
    <h1 style="text-align:center; padding:20px;">About</h1>
    <div style="width:600px; margin:auto;">
        <p>
            The personal planner is a web application built using Django. It 
            provides the user with an interactive personal assistant experience, 
            and displays the user inputs in a clear and minimal layout on the 
            dashboard page. <br />
            <br />
            Planner items are organized by category and sorted by due date. To 
            delete an item, clicking on the item title will bring up a Details page 
            with a Delete button. <br />
            <br />
            This planner is a personal project built with goal of developing my 
            skills in web development and Django. The source code can be found on 
            <a href='https://github.com/benjshao/Personal-Planner'>GitHub</a>. If you would like to see my other work or contact me, visit <a href='https://www.benjshao.github.io'>my 
            personal website</a>.
        </p>
    </div>

{% endblock %}